%h1 GAE-Gaelyk Base-App

%p Give-A-Shout is a multi-platform app-engine example base-app created by Mark Finch to assist developers looking to build their first applications leveraging Google's Cloud Infrastructure. Give-A-Shout is loosely based on the video from Brett Slatkin introducing Google App Engine at Google IO 2008.

%p The GAE-Gaelyk version of Give-A-Shout uses the Groovy Language along with the Gaelyk Framework to provide the same functionality as the original Python version.

%h2 License:

%p GAE-Gaelyk Base-App source code is licensed under the Apache 2.0 License.
